<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Yurkovich's TODO{% endblock %}</title>
        <link rel="stylesheet" href="static/css/navbar.css" />
        <link rel="stylesheet" href="static/css/tasks.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="nav-item">
                    <a href="/">ГЛАВНАЯ</a>
                </div>
                <div class="nav-item">
                    <a href="/tasks">ЗАДАЧИ</a>
                </div>
                <div class="nav-item">
                    <a href="/info">ИНФО</a>
                </div>
            </div>
        </header>

        <main>{% block content %} {% endblock %}</main>

        <footer></footer>
        <script src="/static/tasks-script.js"></script>
    </body>
</html>
