/* 684627 */
/* DAA38F */
/* DFC49B */
/* 9B7D61 */
/* FED8A6 */

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
    color: #dfc49b;
}

.task-form {
    background-color: #dfc49b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #684627;
}

#task-form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

.task-meta {
    display: flex;
    gap: 15px;
    width: 80%;
    align-items: center;
    justify-content: center;
    color: #684627;
}

.form-group {
    flex: 1;
    color: #684627;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
select,
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #684727;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7c644c;
}

.task-list {
    background-color: #886848;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #684727;
    text-align: left;
}

th {
    background-color: #5e4124;
    color: #fed8a6;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #fed8a6;
    color: #000000;
}

tr:nth-child(odd) {
    background-color: #886848;
    color: #dfc49b;
}

button {
    background-color: #9b7d61;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #8a6f56;
}

.taskTitle {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    text-align: left;
    max-width: 150px;
}

.taskDescription {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
    text-align: left;
    max-width: 200px;
}

.taskCategory {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100px;
    white-space: normal;
}

.taskPriority {
    word-wrap: break-word;
    word-break: break-all;
    width: 130px;
    min-width: 130px;
    max-width: 130px;
    white-space: normal;
}

.taskAuthor {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 150px;
    white-space: normal;
}

.taskDeadline {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 150px;
    white-space: normal;
}

.taskCompleted {
    word-wrap: break-word;
    word-break: break-all;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    white-space: normal;
}

.taskDateCompleted {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 150px;
    white-space: normal;
}
